doctype html
head
    title Aaron Waller Portfolio
    meta(charset='utf-8')
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src='/javascripts/index.js')
#history.hidden(data-items='{\
"index":0,\
"commands": [""]\
}')
p
    strong Aaron Waller&apos;s Portfolio
    br
    |         Copyright (C) Aaron Waller. All rights reserved.
    br
    br
    |         To print available commands, type &quot;help&quot; and press Enter
    br
    br
p#pastInput
#input
    span#baseCommand PS C:\Users\portfolio&gt;
    span#command-before
    span#command-hidden.hidden
    span#cursor
    span#command-after
