.main{
    background-color: black;
    color: white;
    font-family:Inconsolata,monospace;
    overflow-wrap:break-word;
    word-wrap:break-word;
    margin:1em;
}

@media screen and (max-width: 600px){
    .main{
        font-size:10px;
    }
}

@media screen and (min-width:601px) and (max-width: 1024px){
    .main{
        font-size:15px;
    }
}

@media screen and (min-width: 1025px){
    .main{
        font-size:20px;
    }
}

span{
    padding:0;
    margin:0;
}

#command-hidden{
    display:none;
}

#baseCommand{
    white-space: nowrap
}